<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
     >

 

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
	
  <title>Login Form</title>
  
   
   
  <!--  
 
   <link rel="stylesheet" type="text/css" href="${tg.url('javascript/extjs/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css')}"/>
   <link rel="stylesheet" type="text/css" href="${tg.url('javascript/extjs/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all_01.css')}"/>
   <link rel="stylesheet" type="text/css" href="${tg.url('javascript/extjs/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all_02.css')}"/>
   
   <script type="text/javascript" src="${tg.url('javascript/extjs/ext-all.js')}"/> 
   <script type="text/javascript" src="${tg.url('javascript/extjs/packages/ext-theme-crisp/build/ext-theme-crisp.js')}"/>
 
 -->
 	<script type="text/javascript" src="javascript/include-ext/include-ext.js"></script>
  
   <script type ="text/javascript" src="javascript/app.js"/>
     



</head>
<body>
	<div id = 'test-app'>
		<input type="button" id="show-btn" value="Layout Window"/>
	</div>
</body>
</html>
