/* TurboGears flash bootstrap look */
#flash > div {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  color: #c09853;
}

#flash > .ok {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

#flash > .error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

#flash > .info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* Footer styling */
.footer {
    margin-top: 45px;
    padding: 35px 30px 36px;
    border-top: 1px solid #e5e5e5;
}

.footer p {
    margin-bottom: 0;
    color: #555;
}



.unstyled {
    list-style: outside none none;
    
}
/****
.zero-clipboard {
    display: none;
    position: relative;
}

.highlight {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    margin-bottom: 14px;
    padding: 9px 14px;
}

.highlight pre {
    background-color: transparent;
    border: 0 none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    white-space: nowrap;
    word-break: normal;
}

.highlight pre code {
    color: #333;
    font-size: inherit;
}
.highlight pre code:first-child {
    display: inline-block;
    padding-right: 45px;
}
.table-responsive .highlight pre {
    white-space: normal;
}

.bs-example + .highlight, .bs-example + .zero-clipboard + .highlight {
    border-radius: 0;
    border-width: 0 0 1px;
    margin: -15px -15px 15px;
}

@media (min-width: 768px) {
.zero-clipboard {
    display: block;
}
.bs-example + .zero-clipboard .btn-clipboard {
    border-top-right-radius: 0;
    top: -16px;
}
.bs-example + .highlight, .bs-example + .zero-clipboard + .highlight {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-width: 1px;
    margin-left: 0;
    margin-right: 0;
    margin-top: -16px;
} 

}

*/
