<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
        <xi:include href="master.html" />
<head>
	<title>Manage Report Problem</title> 
	
	
	  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/ng-grid.css')}" />
	
	<script src="/javascript/angularjs/angular.js"></script> 
	
	    <!--[if lte IE 8]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.1/json3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.3.0/es5-shim.min.js"></script>
        <script>
            document.createElement('ng-include');
            document.createElement('ng-pluralize');
            document.createElement('ng-view');
            document.createElement('ng-form');
            document.createElement('dynamic-form');

            // Optionally these for CSS
            document.createElement('ng:include');
            document.createElement('ng:pluralize');
            document.createElement('ng:view');
            document.createElement('ng:form');

            // IE doesn't always run the bootstrap on its own...
            $(document).ready(function() {
              angular.bootstrap(document.documentElement);
            });
        </script>
    <![endif]-->
  	
</head>

<body data-ng-app="manage-report">
<div class="row">
 
    <div class="col-md-12">
		<div  ng-controller="filedController"  class="container">
			
			<div class="panel panel-default">
				  <div class="panel-heading">
				    <h4 class="panel-title">
				      <a class="accordion-toggle" ><span ng-class="{'text-muted': isDisabled}">Search</span></a>
				    </h4>
				  </div>
				  <div class="panel-collapse" >
				      <div class="panel-body"  >
				      	
							<form action="#" id="form-username" class="form-horizontal form-bordered">
					<div class="form-body">
		 			  <div class="form-group" ng-repeat="field in fields">  
		 			  	<!-- <h1>title: {{ field.field_label }}</h1> -->
		 			  	<fieldset ng-repeat="child in field.child">
					    	<!-- <label class="control-label col-md-3">{{ child.field_label }}<em ng-hide="!child.required">*</em> :</label> -->  
					    	   <ng-include src="'/template-html/edit-field.html'"/>  
					    </fieldset>
					  </div>
					</div>
				 </form>

				      
				      </div>
				  </div>
				</div>
			
			
			 
		
		
						
			 <div>  
			    <h1>Your entity JSON:</h1>  
			    {{ entity }}  
			  </div>
		</div>
		
		 
	</div>
</div>
 
</body>
	
 
	<script src="${tg.url('/javascript/angularjs/ng-grid.debug.js')}"></script>
	<script src="/javascript/bootstrap/js/bootstrap.js"></script> 
	<script src="/javascript/bootstrap/js/ui-bootstrap-tpls-0.12.0.js"></script> 
	
	
	<script src="/javascript/script/manageproblem.js"></script> 
	
</html>
