    <!--also suitable for creation-->  
    <label class="control-label col-md-3" ><em ng-hide="'submit' == child.type">{{ child.field_label }}  <em ng-hide="!child.field_required">*</em> :  </em></label>  
    
    <div class="col-md-9">
    	<div style="text-align:left">
		    <span ng-switch on="child.type">  
		      <span ng-switch-when="input">  
		        <input    class="form-control"
		                  ng-model="entity[child.field_name]"  
		                  type="text"  
		                  />  
		                              
		      </span>  
		      <span ng-switch-when="checkbox">  
		          <input  class="form-control"
		                  ng-model="entity[field.name]"  
		                  ng-checked="entity[child.field_name]"  
		                  type="checkbox"  
		                  />  
		      </span>  
		      <span ng-switch-when="textarea">  
		        <textarea  class="form-control"
		                ng-model="entity[child.field_name]"  
		                ></textarea>  
		      </span>  
		      <span ng-switch-when="select">  
		        <select  class="form-control"
		        		ng-model="entity[child.field_name]"  
		                ng-options="item.id as item.name for item in child.select_options"  
		                required="required"
		                ></select>  
		                <em ng-hide="!child.field_required"> <span class="help-block">{{child.text_required}}</span> </em>
		      </span> 
		      <span ng-switch-when="submit">  
		        
		        <input    class="btn btn-default"
		        
		                  ng-model="entity[child.field_name]"  
		                  type="submit"  
		                  value="{{child.field_label}}"
		                  />  
		    
		      </span>   
		      <!--You can add more custom widget types needed for your project-->  
		      <span ng-switch-default>  
		          <span>Unknown widget</span>  
		      </span>  
		    </span>  
		 </div>   
    </div>