 <html><head><meta http-equiv="content-type" content="text/html; charset=windows-1252"/></head>
<body>

<div class="zero-clipboard">
	<span class="btn-clipboard"><button type="button" class="btn btn-default btn-xs"  aria-label="Center Align" id="right_{{content.id}}" data-placement="right" title="{{content.help_message}}">
<span class="glyphicon glyphicon-info-sign"  aria-hidden="true"> </span> 
</button></span>
</div> 

<div class="highlight"> 
	<div class="row">
	 	<div class="col-md-1">
	 		<h2><span>{{content.seq}}.</span></h2>
	 	</div>
	 	<div class="col-md-11">
	 		<h2><span> {{content.question}}</span></h2>
	 	</div>
 	</div>

	<div class="row">
	 	<div class="col-md-1">
	 		<input type="hidden" name="question_{{content.id}}" value="{{content.id}}"/>
	 	</div>
	 	<div class="col-md-11"> <!-- style="padding-left:25px"  -->
	 		<div ng-repeat="answer in content.answer">
	    	<div class="checkbox">
	    		 <label>
	    		 	<input type="checkbox" name="checkbox_{{answer.id}}" ng-model="selectedData[content.id][answer.id]" ng-change="selectedScore(content.id,answer.id ,'check')"  ng-checked="{{answer.selected}}" value="{{answer.id}}" />
			           
			        <span>{{answer.id}} - {{answer.label}} - {{answer.selected}}</span>
			      </label>
	    	</div>
    </div>
	 	</div>
 	</div> 

	
	
	
	
	
</div>



<script>
$(document).ready(function(){
 	 
    
    $("#right").tooltip({
        placement : 'right'
    });
});
</script>

</body>
</html>

 