 <html><head><meta http-equiv="content-type" content="text/html; charset=windows-1252"/></head>
<body>
<div class="zero-clipboard">
	<span class="btn-clipboard"><button type="button" class="btn btn-default btn-xs"  aria-label="Center Align" id="right_{{content.id}}" data-placement="right" title="Tooltip on right">
<span class="glyphicon glyphicon-info-sign"  aria-hidden="true"> </span> 
</button></span>
</div> 

<div class="highlight"> 
<pre>
	<h2><span>{{content.seq}}. </span>  <img ng-src="{{content.question}}" alt="{{content.id}}"/>
	<!-- 
	<button type="button" class="btn btn-default btn-xs"  aria-label="Center Align" id="right_{{content.id}}" data-placement="right" title="Tooltip on right">
<span class="glyphicon glyphicon-info-sign"  aria-hidden="true"> </span> 
</button>
 -->
</h2> 
	
	<input type="hidden" name="question_{{content.id}}" value="{{content.id}}"/>
	
	<div style="padding-left:25px" ng-repeat="answer in content.answer">
    	<div class="radio media-middle">
    		 <label>
		        <input type="radio" name="image_{{content.id}}" ng-model="$parent.id" ng-change="selectedScore(content.id,answer.id,'image')"  value="{{answer.id}}" required="required"/>
		 		<span > <img ng-src="{{answer.label}}" alt="{{answer.id}}"/> </span> 
		      </label>
    	</div>
    </div>
	
	
	 
</pre>
</div>



<script>
$(document).ready(function(){
 	 
   
    $("#right").tooltip({
        placement : 'right'
    });
});
</script>
</body>
</html>
 