 <html><head><meta http-equiv="content-type" content="text/html; charset=windows-1252"/></head>
<body>
<div class="zero-clipboard">
	<span class="btn-clipboard"><button type="button" class="btn btn-default btn-xs"  aria-label="Center Align" id="right_{{content.id}}" data-placement="right" title="Tooltip on right">
<span class="glyphicon glyphicon-info-sign"  aria-hidden="true"> </span> 
</button></span>
</div> 

<div class="highlight"> 
 
	<div class="row">
	 	<div class="col-md-1">
	 		<h2><span>{{content.seq}}.</span></h2>
	 	</div>
	 	<div class="col-md-11">
	 		<h2><span> {{content.question}}</span></h2>
	 	</div>
 	</div>
 	<div class="row">
	 	<div class="col-md-1">
	 		 
	 	</div>
	 	<div class="col-md-11">
	 		<img ng-src="/images/getImage?id={{content.id}}" alt=""/>
	 	</div>
 	</div>
	    
	<!-- 
	<button type="button" class="btn btn-default btn-xs"  aria-label="Center Align" id="right_{{content.id}}" data-placement="right" title="Tooltip on right">
<span class="glyphicon glyphicon-info-sign"  aria-hidden="true"> </span> 
</button>
 style="padding-left:25px"
 -->
 	<div class="row">
	 	<div class="col-md-1">
	 		 <input type="hidden" name="question_{{content.id}}" value="{{content.id}}"/>
	 	</div>
	 	<div class="col-md-11">
	 		<div ng-repeat="answer in content.answer">
		    	<div class="radio media-middle">
		    		 <label>
				        <input type="radio" name="image_{{content.id}}" ng-model="$parent.id" ng-change="selectedScore(content.id,answer.id,'image')"  value="{{answer.id}}" required="required"/>
				 		<span > <img ng-src="/images/getSubImage?id={{answer.id}}" alt="{{answer.label}}"/> </span> 
				      </label>
		    	</div>
		    </div>
	 	</div>
 	</div>
	
	
	
	
	
	
	 
 
</div>



<script>
$(document).ready(function(){
 	 
   
    $("#right").tooltip({
        placement : 'right'
    });
});
</script>
</body>
</html>
 