<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <title>Upload email</title>
  
  <style>
  	.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: '100%'; 
    height: 300px
}
  </style>
</head>

<body data-ng-app="importEmail">
	 <div class="row">
	 	<div class="col-md-5">
	 		<div ng-controller="historyController" >
		 		<div class="panel panel-default">
				  <div class="panel-heading">
				    <h4 class="panel-title">
				      <a class="accordion-toggle" ><span ng-class="{'text-muted': isDisabled}">History</span></a>
				    </h4>
				  </div>
				  <div class="panel-collapse" >
				      <div class="panel-body"  >
				      	<div class="gridStyle" ng-grid="gridHistrory"></div>
				      
				      </div>
				  </div>
				</div>
	 		</div>
	 		
	 		

	 	</div>
	 	
	 	<div class="col-md-7">
	 	 	<div ng-controller="mainController" >
	 			<div class="panel panel-default">
				  <div class="panel-heading">
				    <h4 class="panel-title">
				      <a class="accordion-toggle" ><span ng-class="{'text-muted': isDisabled}">Upload File</span></a>
				    </h4>
				  </div>
				  
				  <div class="panel-collapse" >
				      <div class="panel-body"  >
				      	
				      	 <label for="upload_file">Filename ไฟล์:</label>    
    
				      	<input type="file" file-model="myFile" id='myFile'/>
   						<center>
   						 <button ng-click="uploadFile()">upload me</button>
				      	</center>
				      
				      
				      
				      </div>
				  </div>
				</div>
	 
	 		</div>
	 		
	 		<div ng-controller="showHistoryController" >
	 			<div class="panel panel-default">
				  <div class="panel-heading">
				    <h4 class="panel-title">
				      <a class="accordion-toggle" ><span ng-class="{'text-muted': isDisabled}">History </span></a>
				    </h4>
				  </div>
				  
				  <div class="panel-collapse" >
				      <div class="panel-body"  >
				      	 <!--  <div id="showHistory" class="gridStyle" ng-grid="gridHistoryDetail"></div> -->
				      	  
				      	  <p ng-repeat="field in formFields">
				      	  	<label>Date : {{ field.import_date }}</label><br/>
				      	  	<label>Status : {{ field.status }}</label><br/>
				      	  	<label>Total Record : {{ field.total_row }}</label><br/>
				      	  	<label>Insert Record : {{ field.insert_row }}</label><br/>
				      	  	<label>Error Record : {{ field.error_row }}</label><br/>
				      	  	<label>Same Old Record : {{ field.same_old_row }}</label><br/>
				      	  	<label>Insert Success Record : {{ field.insert_real_row }}</label><br/>
				      	  	<label>File Name : <a href='/downloadOrig?id={{field.id_export_email}}'>{{ field.file_name }}</a></label><br/>
				      	  	<label>Error File Name : <a href='/downloadError?id={{field.id_export_email}}'>{{ field.file_name }}</a></label>
				      	  	
				      	  </p>
				      	  
				      	  
				      </div>
				  </div>
				</div>
	 
	 		</div>
	 	</div>
	 </div>
	 
	 
	 <script src="${tg.url('/javascript/script/uploadEmail.js')}"></script>
</body>
</html>
