<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

   
  <xi:include href="master.html" />
<head>
  <title>${page}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <title>Windows Example</title>
     <script type="text/javascript" src="${tg.url('/script/loadExtjs')}" content="application/javascript"></script>
     
     <script type="text/javascript" src="${tg.url('/script/loadLang?lang=th')}"></script>    
   
    
      <script language="javascript" src="${tg.url('/javascript/survey/model.js')}"></script> 
      <script language="javascript" src="${tg.url('/script/loadModelObject')}" charset="charset=windows-874"></script>  
      
    <script language="javascript" src="${tg.url('/javascript/survey/addproject.js')}"></script> 
    <script language="javascript" src="${tg.url('/javascript/survey/viewlistproject.js')}"></script>
    <script language="javascript" src="${tg.url('/javascript/extjs-extend/uploadcell.js')}"></script>
    
    
    <script language="javascript" src="${tg.url('/javascript/survey/questiontype.js')}"></script>
     
    <script language="javascript" src="${tg.url('/javascript/survey/managesurvey.js')}"></script>
    <script language="javascript" src="${tg.url('/javascript/survey/managequestion.js')}"></script> 
    <script language="javascript" src="${tg.url('/javascript/survey/managevariable.js')}"></script> 
    <script language="javascript" src="${tg.url('/javascript/survey/manageinvitations.js')}"></script>
    
    
    <script language="javascript" src="${tg.url('/javascript/survey/addinvitations.js')}"></script>
    <script language="javascript" src="${tg.url('/javascript/survey/addoptions.js')}"></script>
    <script language="javascript" src="${tg.url('/javascript/survey/manageoptions.js')}"></script> 
    <script language="javascript" src="${tg.url('/javascript/survey/listsurvey.js')}"></script>
    
    <style type="text/css">
        .x-panel-body p {
            margin: 10px;
            font-size: 12px;
        }
    </style>
    
</head>

<body>
  <div class="row">
    <div class="col-md-12" id ="maintenance-app">
       
    </div>
     
  </div>

   

   
  <script src="http://code.jquery.com/jquery.js"></script> 
</body>
</html>
