<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
     >

 

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
	
  <title>${page}</title>
  
 
 	<script type="text/javascript" src="${tg.url('/javascript/include-ext/include-ext.js')}"></script>
  
  <!-- <script type ="text/javascript" src="${tg.url('/javascript/project/datamodel.js')}"/> -->
   <script type ="text/javascript" src="${tg.url('/project/getJavascript')}"/> 
   <script type ="text/javascript" src="${tg.url('/javascript/app.js')}"/>
     



</head>
<body>
	<div id = 'test-app'>
		<input type="button" id="show-btn" value="Layout Window"/>
		<div id = 'test-panel'></div>
	</div>
</body>
</html>
