<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="en" >

 

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
	
  <title>${page}</title>
  
 
 	<script type="text/javascript" src="${tg.url('/javascript/include-ext/include-ext.js')}"></script>
  
  <!-- <script type ="text/javascript" src="${tg.url('/javascript/project/datamodel.js')}"/> -->
   <script   src="${tg.url('/project/getJavascript')}"/> 
   <script   src="${tg.url('/javascript/project/listmenuproject.js')}"/>
   <script   src="${tg.url('/javascript/project/listsProject.js')}"/>
     



</head>
<body>
	<div id = 'test-app'>
		 
		<div id = 'test-panel'></div>
	</div>
</body>
</html>
